* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:
        radial-gradient(circle at top right,
            var(--primary-alpha-05),
            transparent 30%),
        var(--background);
    color: var(--text-main);
    font-family: Inter, sans-serif;
}